@charset "UTF-8";

html,body {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.home {
    background-color: #fbfbfb;
    display: block;
}

.home__rodape {
    height: 100%;
}

@media screen and (min-width: 0) {
    .conversa, .barraSuperior {
        width: 40vh;
    }
}

@media screen and (min-width: 414px) {
    .conversa, .barraSuperior {
        width: 50vh;
    }
}

@media screen and (min-width: 768px) {
    .conversa, .barraSuperior {
        width: 70vw;
    }
}